/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  @apply bg-primary;
}
.gradient-divider2 {
  height: 60px; /* Adjust the height as needed */
  background: linear-gradient(to bottom, rgb(234 216 192), #ffffff); /*third */
}
.gradient-divider {
  height: 60px; /* Adjust the height as needed */
  background: linear-gradient(
    to bottom,
    rgb(175 143 111),
    rgb(234 216 192)
  ); /*third */
}
.input-wrong {
  @apply border-2 border-rose-500;
}
.label-error {
  @apply text-sm font-semibold p-2 text-rose-500;
}
.alert-success {
  @apply bg-green-200 rounded-lg mx-2 py-2 px-3 text-slate-900 ring-2 ring-inset ring-green-500;
}
.alert-error {
  @apply bg-rose-400 rounded-lg mx-2 py-2 px-3 text-white ring-2 ring-inset ring-rose-700;
}
.button-primary {
  @apply mx-2  px-3 py-1 rounded-lg bg-primary text-fourth border-2 hover:bg-fourth hover:text-primary hover:border-primary;
}
.button-secondary {
  @apply mx-2 px-3 py-1 rounded-lg bg-fourth text-primary border-primary border-2 hover:bg-primary hover:text-fourth hover:ring-2 hover:ring-inset hover:ring-third;
}

.input-form-group {
  @apply placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-yellow-600 sm:text-sm sm:leading-6 block w-full md:w-2/3 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300;
}
.label-input-group {
  @apply block text-sm font-medium leading-6 text-gray-900;
}
.sidebar-container {
  box-shadow: -1px 0px 15px 0px black;
}
#myBtnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: rgb(234 216 192);
  color: black;
  cursor: pointer;
  height: 50px;
  width: 50px;
  /* padding: 10px 15px; */
  border-radius: 10px;
  animation: flutuar 2.5s linear infinite;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
}
.tableTh {
  @apply px-5 py-3 bg-white border-b border-primary text-gray-800 text-left text-sm uppercase font-normal;
}
.tableTd {
  @apply px-5 py-5 border-b border-primary bg-white text-sm;
}
